extends layout

block nav
 div
   nav
    .nav-wrapper
     .col.s12
     a.breadcrumb(href='/products') Produkter
     a.breadcrumb(href='#!')= product.varenavn

block content
      .row
        .col.s8
          .card-panel.indigo
            span.white-text
              h4= product.varenavn
              .row
                .col.s4
                    .card-panel.white
                     //img(src='/images/bottle.png')
                     img(src='https://bilder.vinmonopolet.no/cache/1200x1200-0/' + product.varenummer + '-1.jpg', style='max-width:100%;max-height:100%')
                .col.s4
                  //each val in properties ? properties : [{name: 'Error', value: 'No value'}]
                  //   b= val.name + ': '
                  //   = val.value
                  //   br
                  b ID: 
                  = product.varenummer
                  br
                  b Først sett: 
                  = format.asString('dd.MM.yyyy hh:mm', product.first_seen)
                  br
                  b Sist sett: 
                  = format.asString('dd.MM.yyyy hh:mm', product.last_seen)
                  br
                  b Volum: 
                  = product.volum + " liter"
                  br
                  b Pris: 
                  = product.pris.toFixed(2) + ",-"
                  br
                  b Literspris: 
                  = (product.pris/product.volum).toFixed(2) + ",-"
                  br
                  b Etanol per krone (EPK): 
                  = ((product.alkohol/100*product.volum)/product.pris*1000000) + " mikroliter"
                  br
                  br
                  //vinmonopolet button
                  a.waves-effect.waves-light.btn(href='http://www.vinmonopolet.no/vareutvalg/varedetaljer/sku-#{product.varenummer}') På Vinmonopolet
                .col.s4
                  b Fylde: 
                  = product.fylde
                  br
                  b Friskhet: 
                  =  product.friskhet
                  br
                  b Garvestoffer: 
                  =  product.garvestoffer
                  br
                  b Bitterhet: 
                  =  product.bitterhet
                  br
                  b Sødme: 
                  =  product.sodme
                  br
                  b Farge: 
                  =  product.farge
                  br
                  b Lukt: 
                  =  product.lukt
                  br
                  b Smak: 
                  =  product.smak
                  br
        .col.s4
          .card-panel.blue-grey
            span.white-text
              h4 Produsent
              b Produsent: 
              = product.produsent
              br
              b Grossist: 
              = product.grossist
              br
              b Distributor: 
              = product.distributor
              br
              b Land: 
              = product.land
              br
              b Distrikt: 
              = product.distrikt
              br
              b Underdistrikt: 
              = product.underdistrikt
              br
        .col.s4
          .card-panel.blue-grey
            span.white-text
              h4 Emballasje
              b Emballasjetype: 
              = product.emballasjetype
              br
              b Korktype: 
              = product.korktype
              br
        .col.s4
          .card-panel.blue-grey
            span.white-text
              h4 Butikk
              b Produkttype: 
              a(href='#!')= product.varetype
              br
              b Produkutvalg: 
              = product.produktutvalg
              br
              b Butikkategori: 
              = product.butikkategori
              br
        .col.s8
          .card-panel.blue
            span.white-text
              h4 Historikk
              table.bordered
                thead
                 tr
                  th(data-field='field') Felt
                  th(data-field='old') Gammel verdi
                  th(data-field='new') Ny verdi
                  th(data-field='time') Tidspunkt
                tbody
                 each change in changes
                  tr
                   td= change.name
                   td= change.old_value
                   td= change.new_value
                   td= format.asString('dd.MM.yyyy hh:mm', change.time)
        .col.s4
          .card-panel.blue
            span.white-text
              h4 Tilleggsinformasjon
              b Passer til (1): 
              = product.passer_til_1
              br
              b Passer til (2): 
              = product.passer_til_2
              br
              b Passer til (3): 
              = product.passer_til_3
              br
              b År: 
              = product.argang
              br
              b Råstoff: 
              = product.rastoff
              br
              b Metode: 
              = product.metode
              br
              b Alkoholprosent: 
              = product.alkohol + "%"
              br
              b Sukker: 
              = product.sukker + " gram per liter"
              br
              b Syre: 
              = product.syre + " gram per liter"
              br
              b Lagringsgrad: 
              = product.lagringsgrad
              br
                