extends layout

block content
  ul.pagination
    - var leftChevronClass = currentPage == 1 ? 'disabled' : 'waves-effect';
    li(class=leftChevronClass)
      a.page-first(href='#!')
       i.material-icons first_page
    li(class=leftChevronClass)
      a.page-previous(href='#!')
       i.material-icons chevron_left
    - var start = currentPage === 1 ? 1 : currentPage - 1;
    - var end = currentPage === 1 ? 3 : currentPage + 1;
    - if(currentPage == pageCount) start = currentPage - 2;
    - if(pageCount === 1) { start = 1; end = 1; }
    - if(end > pageCount) end = pageCount;
    - for (var i = start; i <= end; i++) {
     - var classVal = i === currentPage ? 'active' : 'waves-effect';
     li(class=classVal)
      a.page-button(href='#!')= i
    - }
    - var rightChevronClass = currentPage == pageCount ? 'disabled' : 'waves-effect';
    li(class=rightChevronClass)
     a.page-next(href='#!')
      i.material-icons chevron_right
    li(class=rightChevronClass)
     a.page-last(href='#!')
      i.material-icons last_page
  table.ui-responsive.bordered.highlight(data-role='table', data-mode='columntoggle')
   thead
    tr
      th.clickable(data-field='varenummer', data-priority='4') Varenummer
      th.clickable(data-field='varenavn', data-priority='7') Varenavn
      th.clickable(data-field='pris', data-priority='2') Pris
      th.clickable(data-field='literspris', data-priority='3') Literspris
      th.clickable(data-field='epk', data-priority='1') EPK
      th.clickable(data-field='first_seen', data-priority='5') Først sett
      th.clickable(data-field='last_seen', data-priority='6') Sist sett
   tbody
    each product in products
      tr.clickable-row(data-href='/product/#{product.varenummer}')
       td= product.varenummer
       td= product.varenavn
       td= product.pris + ',-'
       td= product.literspris.toFixed(2) + ',-'
       td= product.epk.toFixed(2) + ' mikroliter'
       td= format.asString('dd.MM.yyyy', product.first_seen)
       td= format.asString('dd.MM.yyyy', product.last_seen)